<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" id="tab1" routerLink="/workData">Personal Details</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="tab2" routerLink="/academicData">Academic Details</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" id="tab3">Work Experience</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" id="tab4">Upload Picture</a>
    </li>
</ul>

<form class="row g-3" id="form" #userForm="ngForm">
    <div class="col-md-6">
      <label for="employer" class="form-label">Employer</label>
      <input type="email" #emp="ngModel" [class.is-invalid]="emp.touched && emp.invalid" class="form-control" name="employer" [(ngModel)]="workData.employer" required>
      <small style="color: red;" [class.d-none]="emp.valid || emp.untouched">Employer Name is required</small>
    </div>
    <div class="col-md-6">
      <label for="yoe" class="form-label">Years Of Experience</label>
      <select name="yoe" #yoe="ngModel" [class.is-invalid]="yoe.touched && yoe.invalid" class="form-select" [(ngModel)]="workData.yoe" required>
        <option *ngFor="let number of numbers" value="{{number}}">{{number}}</option>
      </select>
      <small style="color: red;" [class.d-none]="yoe.valid || yoe.untouched">Experience is required</small>
    </div>
    <div class="col-md-6">
      <label for="role" class="form-label">Role</label>
      <input type="text" name="role" #role="ngModel" class="form-control" [class.is-invalid]="role.touched && role.invalid" [(ngModel)]="workData.role" required>
      <small style="color: red;" [class.d-none]="role.valid || role.untouched">Role is required</small>
    </div>
    <div class="col-md-3">
      <label for="salary" class="form-label">Salary</label>
      <input type="number" class="form-control" #salary="ngModel" name="salary" [class.is-invalid]="salary.touched && salary.invalid" [(ngModel)]="workData.salary" required>
      <small style="color: red;" [class.d-none]="salary.valid || salary.untouched">Salary is required</small>
    </div>
      <div class="col-md-3">
          <label for="yos" class="form-label">Start Date</label>
          <select name="yos" class="form-select" #yos="ngModel" [class.is-invalid]="yos.touched && yos.invalid" [(ngModel)]="workData.start">
              <option *ngFor="let year of years" value="{{year}}">{{year}}</option>
          </select>
      </div>
      <div class="col-12">
        <label for="address1" class="form-label">Address 1</label>
        <input type="text" #addr="ngModel" [class.is-invalid]="addr.invalid && addr.touched" class="form-control" name="address1" placeholder="Apartment No, Floor, Street" [(ngModel)]="workData.address1" required>
        <small style="color: red;" [class.d-none]="addr.valid || addr.untouched">Address is required</small>
      </div>
      <div class="col-8">
        <label for="address2" class="form-label">Address 2</label>
        <input type="text" class="form-control" name="address2" placeholder="Area,Village" [(ngModel)]="workData.address2">
      </div>
      <div class="col-md-4">
        <label for="country" class="form-label">Country</label>
        <select name="country" #country="ngModel" [class.is-invalid]="country.invalid && country.touched" class="form-select" [(ngModel)]="workData.country" required>
            <option *ngFor="let country of countries" value="{{country}}">{{country}}</option>
        </select>
        <small style="color: red;" [class.d-none]="country.valid || country.untouched">Country is required</small>
      </div>
      <div class="col-md-4">
        <label for="state" class="form-label">State</label>
        <select name="state" #state="ngModel" [class.is-invalid]="state.invalid && state.touched" class="form-select" [(ngModel)]="workData.state" [disabled]="workData.country===''" required>
            <ng-container *ngIf="workData.country==='India'">
              <option *ngFor="let state of states" value="{{state}}">{{state}}</option>
            </ng-container>
        </select>
        <small style="color: red;" [class.d-none]="state.valid || state.untouched">State is required</small>
      </div>
      <div class="col-md-3">
        <label for="district" class="form-label">District</label>
        <select name="district" #district="ngModel" [class.is-invalid]="district.invalid && district.touched" class="form-select" [(ngModel)]="workData.district" [disabled]="workData.state===''" required>
          <ng-container *ngIf="workData.state==='Karnataka'">
            <option *ngFor="let district of districts" value="{{district}}">{{district}}</option>
          </ng-container>
        </select>
        <small style="color: red;" [class.d-none]="district.valid || district.untouched">District is required</small>
      </div>
      <div class="col-md-3">
          <label for="city" class="form-label">City</label>
          <input type="text" class="form-control" name="city" [(ngModel)]="workData.city">
        </div>
      <div class="col-md-2">
        <label for="zipCode" class="form-label">Zip</label>
        <input type="text" #zip="ngModel" (blur)="validateZip(zip.value)" (ngModelChange)="validateZip(zip.value)" [class.is-invalid]="zip.touched && hasError" class="form-control" name="zipCode" [(ngModel)]="workData.zipCode" required>
        <div *ngIf="hasError && zip.touched">
          <ng-container *ngIf="zipLength===0; else next">
            <small style="color: red;">Zipcode is required</small>
          </ng-container>
          <ng-template #next> 
            <small style="color: red;" *ngIf="workData.country==='India'">Zipcode should be 6 digits</small>
          </ng-template>
        </div>
      </div>
    <div class="col-12" id="submit">
      <button type="submit" class="btn btn-primary" routerLink="/upload" (click)="onClick()" [disabled]="userForm.form.invalid">Save & Continue</button>
    </div>
  </form>