<div class="title">
    <h1 id="main">Cognecto Assignment</h1>
</div>
<div class="container" id="reg">
    <div class="subtitle">
        <h3>Registration Form</h3>
    </div>
    <!-- <ng-container *ngIf="tab==='personal'; else academic"><app-personal (childEvent)="tab=$event" ></app-personal></ng-container>
    <ng-template #academic>
        <ng-container *ngIf="tab==='academic'; else work"><app-academic></app-academic></ng-container>
    </ng-template>
    <ng-template #work>
        <ng-container *ngIf="tab==='work'; else upload"><app-work></app-work></ng-container>
    </ng-template>
    <ng-template #upload>
        <ng-container *ngIf="tab==='upload'"><app-upload></app-upload></ng-container>
    </ng-template> -->
    <router-outlet></router-outlet>
</div>