#tab5{
    color:green;
}

#section1
{
    margin-top:30px;
    margin-bottom: 30px;
}

#section2
{
    margin-bottom: 30px;
}

#section3
{
    margin-bottom:30px;
}

#propic{
    width:200px;
    height:200px;
}

#im{
    text-align: center;
}