.tab-pane {
    padding:20px;
}

label{
    text-align: left;
}

#form{
    margin-left:5px;
    margin-right:5px;
    margin-top:5px;
}

#tab4{
    color:green;
}

#msg{
    text-align: center;
    color:red;
}

#button{
    text-align: center;
}

#submit{
    margin-bottom:30px;
    margin-top:30px;
}

#picDiv{
    text-align: center;
}

#photo{
    margin-top:50px;
}

#profile{
    width:300px;
    height:400px;
}